html{
    font-size: 62.5%;
    scrollbar-gutter: stable;
}
body{
    margin: 0;
    color: #93C572;
    background-color: #222;
}
header{
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 20px 0;
    display: flex;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
header h1{
    margin: 0;
    padding: 5px;
    font-size: 2.5rem;
}
main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form{
    background-color: #333;
    padding: 50px;
    margin: 10px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    gap: 10px;
}
.search-form div{
    font-size: 2rem;
    display: flex;
    align-items: center;
}
#username{
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border: none;
}
#username:focus{
    outline:none;
}
.button{
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: filter 0.2s ease;
}
.button:hover{
    filter: brightness(1.5);
}
.button:active{
    box-shadow: none;
    transform: translateY(3px);
}
.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 80px 115px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.user-card img{
    width: 150px;
    border-radius: 50%;
    border: 2px solid #eee;
}
.user-card h2{
    padding: 10px;
    font-size: 2rem;
}
.user-card p{
    font-size: 1.5rem;
}

#repo-area{
    margin: 20px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#repo-area h2{
    font-size: 2.5rem;
}
.repo-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.repo-cards div{
    justify-items: center;
    background-color: #333;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.repo-cards a{
    text-decoration: none;
    color: #93C572;
}
.repo-cards a:hover{
    color: #006036;
}